{% extends "layout.html" %}
{% block body%}

<main class="d-flex justify-content-sm-start gap-4 flex-wrap" style="width: 1300px;margin:20px auto">
    <div class="card bg-secondary text-white" style="width: 300px; height: 350px">
        <img src="" alt="" class="card-img-top">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Power Meter Status</h5>
            <p class="card-text">This Checks the status of oncor power meters and communication.</p>
            <div class="d-flex flex-column-reverse h-50 mt-auto">
                <div class="d-flex justify-content-around gap-2">
                    <a href="{{url_for('power')}}" class="btn btn-primary flex-grow-1">Go</a>
                    <a id = 'power_updater_start' class="btn btn-success flex-grow-1" style="display:block">Start</a>
                    <a id = 'power_updater_stop' class="btn btn-danger flex-grow-1" style="display:none">Stop</a>
                    
                </div>
            
                <div id="power_thread_statuses" class="mb-3 border-bottom border-top">
                    <div class="row">
    
                        <div class="col">Status:</div>
                        <div class="col" id="power_thread_status">Offline</div>
                    </div>
                    <div class="row">
                        <div class="col">n_threads:</div>
                        <div class="col" id="power_thread_count">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card bg-secondary text-white" style="width: 300px; height: 350px">
        <img src="" alt="" class="card-img-top">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Modem Portal</h5>
            <p class="card-text">View status of modems and update signal IP's. Update Firmware too</p>
            <div class="d-flex flex-column-reverse h-50 mt-auto">
                <div class="d-flex justify-content-around gap-2">
                    <a href="{{url_for('modem')}}" class="btn btn-primary flex-grow-1">Go</a>
                    <a id = 'modem_updater_start' class="btn btn-success flex-grow-1" style="display:block">Start</a>
                    <a id = 'modem_updater_stop' class="btn btn-danger flex-grow-1" style="display:none">Stop</a>
                </div>
                <div id="modem_thread_statuses" class="mb-3 border-bottom border-top">
                    <div class="row">
    
                        <div class="col">Status:</div>
                        <div class="col" id="modem_thread_status">Offline</div>
                    </div>
                    <div class="row">

                        <div class="col">n_threads:</div>
                        <div class="col" id="modem_thread_count">0</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card bg-secondary text-white" style="width: 300px; height: 350px">
        <img src="" alt="" class="card-img-top">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Radar Portal</h5>
            <p class="card-text">View status of Radar CCU's and Panels. Update Firmware too</p>
            <div class="d-flex flex-column-reverse h-50 mt-auto">
                <div class="d-flex justify-content-around gap-2">
                    <a href="{{url_for('radar')}}" class="btn btn-primary flex-grow-1">Go</a>
                    <a id = 'radar_updater_start' class="btn btn-success flex-grow-1" style="display:block">Start</a>
                    <a id = 'radar_updater_stop' class="btn btn-danger flex-grow-1" style="display:none">Stop</a>
                </div>
                <div id="radar_thread_statuses" class="mb-3 border-bottom border-top">
                    <div class="row">
    
                        <div class="col">Status:</div>
                        <div class="col" id="radar_thread_status">Offline</div>
                    </div>
                    <div class="row">

                        <div class="col">n_threads:</div>
                        <div class="col" id="radar_thread_count">0</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card bg-secondary text-white" style="width: 300px; height: 350px">
        <img src="" alt="" class="card-img-top+
        ">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Database Manager</h5>
            <p class="card-text"></p>
            <div class="d-flex flex-column-reverse h-50 mt-auto">

                <div class="d-flex justify-content-around gap-2">
                    <a href="{{url_for('progress')}}" class="btn btn-primary flex-grow-1"style="background-color:blue">Go</a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-secondary text-white" style="width: 300px; height: 350px">
        <img src="" alt="" class="card-img-top+
        ">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">Thread Manager</h5>
            <p class="card-text"></p>
            <div class="d-flex flex-column-reverse h-50 mt-auto">

                <div class="d-flex justify-content-around gap-2">
                    <a href="{{url_for('progress')}}" class="btn btn-primary flex-grow-1"style="background-color:blue">Go</a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-secondary text-white" style="width: 300px; height: 350px">
        <img src="" alt="" class="card-img-top+
        ">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">CUT Interface</h5>
            <p class="card-text"></p>
            <div class="d-flex flex-column-reverse h-50 mt-auto">

                <div class="d-flex justify-content-around gap-2">
                    <a href="{{url_for('progress')}}" class="btn btn-primary flex-grow-1"style="background-color:blue">Go</a>
                    
                </div>
            </div>
        </div>
    </div>
<dialog id="thread_config" style="width: 600px; height: 500px; border:none; border-radius: 15px;">
    <div class="pb-2 h-25">

        <label for="run_type">Select Run Type</label>
        <select class="form-select" aria-label="Default select example", id = 'run_type'>
            <option value="1">Simple</option>
            <option value="2">Advanced</option>
        </select>
    </div>
    <div class="h-75">

        <form method="dialog" id="simpleForm" class="h-100">
            <div class="d-flex flex-column h-100">

                <label for="nThread" class="form-text">Number of Threads:</label>
                <input type="number" name="nThread" id="nThread" class="form-control" min="0" value="10">
                <div style="display: block;" class="pt-3">
                    
                    <label for="recordOpt" class="form-check-label">Export Recordings?</label>
                    <input type="checkbox" name="recordOpt" id="recordOpt" class="form-check-input">
                </div>
                <label for="recordInt" class="form-text">Recording Inteval (hours):</label>
                <input type="number" name="recordInt" id="recordInt" class="form-control" step="0.01" disabled>
                <button class="btn btn-success mt-auto" id="simpleBtn">Run</button>
            </div>
        </form>
        <form method="dialog" id="advancedForm" style="display: none;" class="h-100">
            <div class="d-flex flex-column h-100">
                <label for="nThread" class="form-text">Number of Threads:</label>
                <input type="number" name="nThread" id="nThread" class="form-control" min="0" value="10">
                
                <div id="runRadios" class="border-bottom">
                    <label for="runUntilOpt">Run Updates Until a Specified Time</label>
                    <input type="radio" name="runOpt" id="runUntilOpt" value='until' checked />
                    <label for="runForOpt">Run Updates For a Specified Time</label>
                    <input type="radio" name="runOpt" id="runForOpt" value='for'>
                    
                </div>
                <div id="runUntilInput" class="pb-1">
                    <label for="runUntil" class="form-text">Run Until?</label>
                    <input type="datetime-local" name="runUntil" id="runUntil" class="form-control">
                </div>
                <div id="runForInput" style="display: none;" class="pb-4">
                    <label for="runFor" class="form-text"> Run for how long? (hours)</label>
                    <input type="number" name="runFor" id="runFor" class="form-control" step="0.01">
                </div>

                <div style="display: block;" class="pt-3">
                    
                    <label for="recordOptAdv" class="form-check-label">Export Recordings?</label>
                    <input type="checkbox" name="recordOptAdv" id="recordOptAdv" class="form-check-input">
                </div>
                <label for="recordIntAdv" class="form-text">Recording Inteval (hours):</label>
                <input type="number" name="recordInt" id="recordIntAdv" class="form-control" step="0.01" disabled>
                <button class="btn btn-success mt-auto" id="advBtn">Run</button>
            </div>
        </form>
    </div>
        
</dialog>
</main>


{% endblock%}

{% block script%}
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock%}