<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head%}
    <title>ACID</title>
    {% endblock %}
</head>
    <body class="vh-100 d-flex flex-column">

        <h1 style="width: 100vw; background-color:gray; color:white;padding:20px 0; margin:0;" class="d-flex justify-content-center">
            <a href="{{ url_for('index')}}" class="mx-auto object-fit-scale" style="text-decoration: none;color:white;">
                Automated Communication and Information Display (ACID)
            </a>
        </h1>
        <div class="flex-fill">

            {% block body%}
            {% endblock %}
        </div>
        
        
        {% block script%}
        {% endblock %}
    </body>

    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</html>